<div class="row">
  <div class="col-md-4 well">
    <h2>Submit Payment</h2>
    <% unless locals.empty? %>
      <%= message %>
    <% end %>
    <form action="/transaction" method="POST">
      <p>Amount <input type="text" name="transac[amount]" placeholder="100.23" required></p>
      <p>Select Account to Pay </p>
      <select name="id">
        <% @accounts.each do |account| %>
          <option value="<%= account.id %>"><%= account.name %></option>
        <% end %>
      </select>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
</div>
