<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 form well">
    <h3>Login</h3>
    <hr>
    <form method="post" action="/login">
      <input type="email" name="email" placeholder="Email" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input class="btn btn-primary btn-block btn-margin" type="submit" value="submit">
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>
