<div class="row">
  <div class="col-md-6">
    <p> Welcome, <%= current_user.f_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 well">
    <h3>Accounts</h3>
    <% @current_user.accounts.each do |account| %>
        <% if account.name %>
          <li><a href="/account/<%=account.id%>"><%= account.name %></a>
          <%= account.balance %></li>
        <% end %>
    <% end %>
    <br>
    <button class="btn"><a href="/account/new"> Add Account</a></button>
  </div>
</div>
