<div class="row">
  <div class="col-md-6">
    <p> Welcome, <%= current_user.username %>
    <h2> Accounts </h2>
  </div>
</div>
<div class="row">
  <% @accounts.each do |accounts| %>
    <div class="col-md-4 well">
      <a href="/account/<%=account.id%>"><%= account.content %></a>
    </div>
  <% end %>
</div>
