
<div class="row">
  <div class="col-md-6 well">
    <h2>Add Account</h2>
    <hr>
    <% unless locals.empty? %>
          <%= message %>
    <% end %>
    <form action="/account" method="POST">
      <label>Name:</label> <input type="text" name="account[name]" placeholder="Visa" required>
      <label>Current Balance:</label> <input type="number" step=".01" min="0" name="account[balance]" placeholder="1240.32" required>
      <label>Interest:</label> <input type="number" step=".01" min="0"  name="account[interest]" placeholder="14.99" required>
      <label>Minimum Payment:</label> <input type="number" step=".01" min="0"  name="account[min_payment]" placeholder="110.25" required>
      <label>Day of Month Due:</label> <input type="number" name="account[date]" placeholder="14" required>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
</div>
