<div class="row">
  <div class="col-md-12">
    <h2>Add a tweet</h2>
    <% unless locals.empty? %>
      <%= message %>
    <% end %>
    <form action="/account" method="POST">
      <p>Status: <input type="text" name="content"></p>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
</div>

Need to add all fields for account
