<div class="row">
  <div class="col-md-4 well">
    <p><%= @accounts.content %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form method="post" action="/account/<%=@accounts.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="btn btn-default btn-danger" type="submit" value="Delete">
    </form>
    <button class="btn btn-default"><a href="/account/<%=@accounts.id%>/edit">Edit</a></button>
  <div>
</div>
