<div class="jumbotron blue-green-bg">
  <div class="container txt-centered">
    <h1>Vanes.</h1>
      <p class="lead-text">Turn. Save. Invest.</p>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4 pull-2 signup-form well">
    <h3>SIGN UP</h3>
    <hr>
    <form action="/signup" method="POST">
      <input type="text" name="user[f_name]" placeholder="First Name"><br>
      <input type="email" name="user[email]" placeholder="Email"><br>
      <input type="password" name="user[password]" placeholder="Password"><br>
      <input class="btn btn-warning btn-block btn-margin" type="submit" value="Submit">
    </form>
  </div>
</div>
