<div class="jumbotron blue-green-bg">
  <div class="container txt-centered">
    <h2>Vanes. Turning Debt into Wealth.</h2>
      <p>Managing your money has never been this easy.</p>
      <p><a class="btn btn-warning btn-lg signup" href="/signup" role="button">SIGN UP</a></p>
  </div>
</div>
